@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin respond-to($media) {
  @if map-has-key($breakpoints, $media) {
    @media (min-width: #{map-get($breakpoints, $media)}) {
      @content;
    }
  } @else {
    @warn "Malheureusement, aucune valeur n'a pu être récupérée à partir de `#{$breakpoint}`. Veuillez vous assurer qu'il est défini dans la liste `$breakpoints`.";
  }
}

// Browser Prefixes
@mixin transform($transforms) {
  transform: $transforms;
  transform: $transforms;
  transform: $transforms;
  transform: $transforms;
}

// Rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
// Translate X
@mixin translateX($x) {
  @include transform(translateX($x));
}
// Translate Y
@mixin translateY($y) {
  @include transform(translateY($y));
}

// Skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// Transform Origin
@mixin transform-origin($origin) {
  transform-origin: $origin;
  transform-origin: $origin;
  transform-origin: $origin;
  transform-origin: $origin;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}
