// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Body font family
/// @type List
$font-stack-body: 'Merriweather', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
/// Heading font family
/// @type List
$font-stack-header: 'Fira Sans', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Text color
/// @type Color
$text-color: #2c3e50 !default;
/// Text Primary color
/// @type Color
$text-primary-color: #00BFA5 !default;

/// Background color
/// @type Color
$bg-color: #ffffff !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1800px
) !default;