$lignea-color: #fc5c65;

$ligneb-color: #3498db;

  
.lignea    {
  color: $lignea-color !important;

  input
  {
    border-color: $lignea-color;
  }
}

// Theme Ligne B
.ligneb{
  color: $ligneb-color !important;;

  input
  {
    border-color: $ligneb-color;
  } 
}