<template lang="pug">

.about
  h1 Welcome to About page

</template>

<script>
export default {
  name: 'About'
}
</script>

<style lang="scss" scoped>
.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
