<template lang="pug">

.home
  h2
    i.icon.fas.fa-rocket
    |       Welcome to starter
  h1 Electron + Vue + Element UI
  img(:src="require('@/renderer/assets/images/logo.png')" alt='')

</template>

<script>
export default {
  name: 'Home'
}
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    padding: 1rem;
  }
  h2 {
    font-weight: 100;
  }

  .icon {
    color: $text-primary-color;
  }
}
</style>
