// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * Rendre tous les éléments hérités de la valeur de dimensionnement de la boîte racine
 * Pour plus de détail voir: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
/**
 * Mettre en place un modèle de boîte décent sur l'élément racine
 */
html,
body {
  overflow-x: hidden;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, p, h1, h2, h3, h4, h5, h6{
  color: $text-color;
}

div#__nuxt, #__layout, #__layout > div, #app {
  width: 100vw;
  height: 100vh;
}

/**
 * Basic styles for links
 */
a[href] {
  color: $text-color;
  text-decoration: none;
  font-family: $font-stack-header;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
a[aria-current="page"],
a[aria-current="page"]:focus {
  color: $text-primary-color;
  font-weight: bold;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}