<template lang="pug">

#app
  #nav
    router-link(to='/')
      | Home
    router-link(to='/about')
      | About
  transition(name='slide-fade' mode='out-in')
    router-view

</template>
<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
#app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#nav {
  padding: 30px;
}
#nav a {
  padding: 0 1rem;
  display: inline-block;
}
#nav a:not(:last-child) {
  border-right: 1px solid $text-color;
}
</style>
